section#userPage{
	height:100%;
	width:auto;
	margin:auto;
	display:block;
	font-family:'HelveticaNeue-Thin';

	h4{
		text-transform: capitalize;
	}

	div.card{
		font-size:12.5px;
		padding:1rem;
		margin:1rem 1rem 0;
		width: 100%;
		max-width:300px;
		display: inline-grid;
	  grid-column-start: 1;
	  grid-column-end:2;
		border-radius:1rem;
		background-color: #dedede;
		box-shadow: 0 0 1px 0 #333;

		div{
			padding:0.2rem;
			display:inline-block;
			width:auto;
			height:100%;
			display:block;
			&.image{
				width:5rem;
				height:5rem;
				float:left;
				padding:0.5rem;
				img{
					height:100%;
					width:100%;
					display:block;
					object-fit:cover;
				}
			}
			span{
				b{
					padding-right:0.5rem;
				}
			}

		}

	}
}