<section id="userPage">
<h4>{{name}}</h4>

<div class="card" *ngFor = "let row of dataSet;let i = index">
	<div *ngFor = "let col of cols" class="{{col?.columnName}} {{col?.type}}">
		<img [src]="row[col?.columnName]" *ngIf="col?.type == 'image'" />
		<span *ngIf="col?.type != 'image'"><b>{{col?.columnDisplayName}}: </b>{{row[col?.columnName]}}</span>
	</div>
</div>
</section>