<section id="productPage">
<h4>{{name}}</h4>
<table>
	<tr class="header">
		<th *ngFor = "let col of cols" class="{{col?.columnName}}" [ngStyle]="{'display':(col?.isVisble ? 'table-cell':'none'), 'width':width + '%'}">
			{{col?.columnDisplayName}}
		</th>
	</tr>
	<tr class="body" *ngFor = "let row of dataSet;let i = index">
		<td *ngFor = "let dat of colKeys; let j = index;" [ngStyle]="{'display':(cols[j]?.isVisble ? 'table-cell':'none'), 'width':width + '%'}" class="{{cols[dat].columnName}}">
			{{row[cols[dat].columnName]}}
		</td>
	</tr>
</table>
</section>