section#productPage{
	height:100%;
	width:auto;
	margin:auto;
	display:block;
	font-family:'HelveticaNeue-Thin';

	h4{
		text-transform: capitalize;
	}

	table{
		width:100%;

		th,td{

			font-size: 12.5px;
		}

		td{
			text-align:center;
			&.description{
				text-align:justify;
			}
		}
	}

}