<section id="homepage">
<nav>
	<a *ngFor = "let item of menu" routerLink = "{{item?.name}}">
		{{item?.displayName}}
	</a>
</nav>
<h4>{{name}}</h4>
<div>

	<div [innerHTML]="content"></div>
</div>
</section>